* {
	margin:0;
	padding:0;
	text-align: center;
	font-family: 'Yeon Sung', cursive;
	box-sizing: border-box;
}

body {
	background-color: gainsboro;
}

#start {
	position: fixed;
	margin-left: 12%;
	margin-top: 5%;
	background-color: black;
	width: 80%;
	opacity: 0.85;
	color: red;
	border-radius: 20px;
	border: inset grey 10px;
	cursor: pointer;
	padding:100px;
}

#start:hover {
	transform: scaleY(1.2);
	transition: 1.5s;
}

#start > p {
	background-color: inherit;
	font-size: 50px;
}

#grid {
	display: grid;
	grid: 155px/ auto auto auto;
	grid-gap: 10px;
	background-color: grey;
	width: 40%;
	height: 500px;
	float: left;
	margin-left: 15%;
	border: outset darkgrey 8px;
}


.box {
	background-image: radial-gradient(yellow, orange, red);	
	border-radius: 20px;
	border: inset darkgrey;
	cursor: pointer;
	height: 155px;
	width: 100%;
  margin: 5px 0px;
  font-size: 350%;
	font-style: italic;
	contain: size;
}

/*.box:hover {
	transform: rotateX(360deg);
	transition: 1.5s;
}*/

#player-container {
	padding: 30px 100px;
	display: inline-block;
	background-image: radial-gradient(yellow, orange, red);
	margin-top: 150px;
	border: outset darkgrey 8px;
}

#clear {
	clear:both;
}

h1 {
	visibility: hidden;
	font-weight: bold;
	padding: 5px;
}

#titlefx {
	transform: rotateX(360deg);
	transition: 2s;
	font-size: 70px;

}

button {
	width: 90px;
	height: 50px;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
	border-radius: 8px;
	background-color: grey;
	cursor: pointer;
	color: red;
}

button:hover {
	background-color: gainsboro;
	transform: scaleX(1.3);
}

.player {
	margin-bottom: 18px;
	background: none;
	font-size: 18px;

}


/*Responsive screen change settings*/
@media only screen and (max-width: 750px) {

#titlefx {
		font-size: 35px;
	}
	
	#start > p {
		font-size: 25px;
	}

	#start {
		padding: 50px;
		margin-top: 25%;

	}
	#grid {
		height: 300px;
	}

	.box {
		height: 90px;
		font-size: 200%;
	}

	#player-container {
		padding:0;
		margin: 0;
	}

	.player {
		font-size: 12px;
	}

	#restart {
		font-size: 12px;
		height: 40px;
		margin-left: 15px;;
	}

}
